<title>Rilasci</title>

<div ng-controller="rilasciController" data-ng-init="init()">

    <div id="rilasci" class="card">

        <div class="text-center panelHeaderSezioneCustom">
            <div class="row padding0">
                <span class="col-sm-2 text-left">
                    <button type="button" class="btn btn-sm pointer headerPageButton" title="Dashboard"
                            ng-click="indietro('dashboard')">
                        <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                    </button>
                </span>
                <span class="col-sm-8 titoloSezione">RILASCI</span>
                <span class="col-sm-2 text-right"></span>
            </div>
        </div>

        <!-- LOADER -->
        <div class="text-center" ng-class="{'backgroundLoaderPart' : visible, 'backgroundLoaderFull' : !visible}"
             ng-show="!caricamentoCompletato">
            <div class="containerLoader">
                <div class="loader"></div>
            </div>
        </div>

        <div id="panelDatiCliente" class="card-block panelBodySezioneCustom" ng-show="caricamentoCompletato">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-condensed table-hover marginT10 background-white ">
                        <thead>
                        <tr>
                            <th class="col-sm-1 form-inline">
                                <input type="checkbox" ng-model="selezionatiTutti" style="margin-top: 10px;"
                                       ng-change="selezionaDeselezionaTutti(selezionatiTutti)"
                                       ng-true-value="true" ng-false-value="false">
                            </th>
                            <th class="col-sm-9 form-inline">
                                <div class="input-group">
                                <span class="input-group-addon paddingSort pointer"
                                      ng-click="sortType = 'primoLocatore'; sortReverse = !sortReverse">
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </span>
                                    <input type="text" class="form-control text-left"
                                           placeholder="Clienti" ng-model="search.primoLocatore">
                                </div>
                            </th>
                            <th class="col-sm-2">
                                <button class="btn btn-custom btn-primary" title="Rilascia"
                                        ng-click="rilasciaTutti()">
                                    <i class="fa fa-copy fa-fw" aria-hidden="true"></i>
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in clientiFiltrati=(clienti | orderBy:sortType:sortReverse | filter:search)">
                            <td>
                                <input type="checkbox"
                                       ng-model="x.selezionato"
                                       ng-true-value="true" ng-false-value="false">
                            </td>
                            <td>
                                <span class="h6">
                                    {{x.ambiente}}
                                </span>
                            </td>
                            <td class="nowrap text-center">
                                <button class="btn btn-custom btn-success" title="Rilascia"
                                        ng-click="rilascia(x.ambiente)">
                                    <i class="fa fa-copy fa-fw" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>