<div class="row">
    <div class="col-sm-6 col-md-10 col-lg-10 m-auto">
        <div class="card text-center">
            <div class="card-body">
                <h1 class="card-titile">{{titolo}}</h1>
                
            </div>
        </div>
    </div>
</div>>