<html>

<head>
    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
    <!-- import bootstrap -->
    <link href="../grafica/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- import custom css -->
    <link href="../grafica/css/style.css" rel="stylesheet" type="text/css" media="all">
    <!-- import angularjs -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <!-- import angularjs controller-->
    <script type="text/javascript" src="../angular/controller.js"></script>
    <title>AngularJS</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">

<div id="container">

    <div id="CambiaCss">
        <div class="selectorRed" ng-click="setColor('rosso')"></div>
        <div class="selectorBlue" ng-click="setColor('blu')"></div>
        <div class="selectorGreen" ng-click="setColor('verde')"></div>
    </div>

    <div class="{{color}}">
        <p>prova</p>
    </div>

    <a href="secondPage.html">seconda pagina</a>

</div>

</body>
</html>

