<!DOCTYPE html>
<html ng-app="engine" ng-controller="indexController">

<head>
    <link href="./lib/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- import angularjs -->
    <script type="text/javascript" src="./lib/angular.min.js"></script>
    <script type="text/javascript" src="./lib/angular-animate.js"></script>

    <script type="text/javascript" src="./controller/indexController.js"></script>


    <!-- fontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>

<body>
<div ng-controller="indexController" data-ng-init="init()" style="margin: 15px">
    <div class="row">
        <div class="col-md-3" ng-repeat="t in tabelle">
            <button class="btn btn-primary center-block btn-block" style="margin-top: 10px"
                    ng-click="engineTabelle(t.Tables_in_test1)">
                {{t.Tables_in_test1}}
            </button>
        </div>
    </div>
</div>
</body>
</html>
