
<title>Configurazioni</title>

<div ng-controller="configurazioniController" data-ng-init="init()">

    <!---------------------------------------LIVELLO SU---------------------------------------------------------->
    <div class="panel panel-custom">
        <div class="panel-heading">Configurazioni Super Utente</div>
        <div class="panel-body">
            <div class="row marginT10 marginB10">
                <div class="col-md-4">
                    <button class="btn btn-primary text-uppercase btn-block" ng-click="includePage('configurazioni','tabelleIstat')">
                        <i class="fa fa fa-bar-chart fa-fw fa-lg pull-left" aria-hidden="true"></i>
                        Tabelle Istat
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------------------LIVELLO GENERICO---------------------------------------------------------->
    <div class="panel panel-custom">
        <div class="panel-heading">Configurazioni generiche</div>
        <div class="panel-body">
            <div class="row marginT10 marginB10">
                <div class="col-md-4">
                    <button class="btn btn-primary text-uppercase btn-block" ng-click="includePage('configurazioni','testiLettere')">
                        <i class="fa fa fa-cog fa-fw fa-lg pull-left" aria-hidden="true"></i>
                        Testi e lettere
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------------------LIVELLO AMMINISTRATORE E SU----------------------------------------------->

    <div class="panel panel-custom" ng-show="livello != 'U'">
        <div class="panel-heading">Configurazioni</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 marginT10 marginB10">
                    <button class="btn btn-primary text-uppercase btn-block" ng-click="includePage('configurazioni','opzioni')">
                        <i class="fa fa fa-cogs fa-fw fa-lg pull-left" aria-hidden="true"></i>
                        Opzioni
                    </button>
                </div>
                <div class="col-md-4 marginT10 marginB10">
                    <button class="btn btn-primary text-uppercase btn-block" ng-click="includePage('configurazioni','gruppiAvvisoPagamento')">
                        <i class="fa fa fa-eur fa-fw fa-lg pull-left" aria-hidden="true"></i>
                        Gruppi fatturazione
                    </button>
                </div>
                <div class="col-md-4 marginT10 marginB10">
                    <button class="btn btn-primary text-uppercase btn-block" ng-click="includePage('configurazioni','utenti')">
                        <i class="fa fa fa-users fa-fw fa-lg pull-left" aria-hidden="true"></i>
                        Utenti
                    </button>
                </div>
                <div class="col-md-4 marginT10 marginB10">
                    <button class="btn btn-primary text-uppercase btn-block" ng-click="includePage('configurazioni','tipiCauzione')">
                        <i class="fa fa fa-money fa-fw fa-lg pull-left" aria-hidden="true"></i>
                        Tipi cauzione
                    </button>
                </div>
                <div class="col-md-4 marginT10 marginB10">
                    <button class="btn btn-primary text-uppercase btn-block" ng-click="includePage('configurazioni','tipiSoggetto')">
                        <i class="fa fa fa-user-md fa-fw fa-lg pull-left" aria-hidden="true"></i>
                        Tipi soggetto
                    </button>
                </div>
                <div class="col-md-4 marginT10 marginB10">
                    <button class="btn btn-primary text-uppercase btn-block" ng-click="includePage('configurazioni','tipiRappresentante')" disabled>
                        <i class="fa fa fa-user-circle-o fa-fw fa-lg pull-left" aria-hidden="true"></i>
                        Tipi rappresentante
                    </button>
                </div>
                <div class="col-md-4 marginT10 marginB10">
                    <button class="btn btn-primary text-uppercase btn-block" ng-click="includePage('configurazioni','tipiIva')">
                        <i class="fa fa fa-percent fa-fw fa-lg pull-left" aria-hidden="true"></i>
                        Tipi iva
                    </button>
                </div>
                <div class="col-md-4 marginT10 marginB10">
                    <button class="btn btn-primary text-uppercase btn-block" ng-click="includePage('configurazioni','tipiContratto')">
                        <i class="fa fa fa-book fa-fw fa-lg pull-left" aria-hidden="true"></i>
                        Tipi contratto
                    </button>
                </div>
                <div class="col-md-4 marginT10 marginB10">
                    <button class="btn btn-primary text-uppercase btn-block" ng-click="includePage('configurazioni','tipiUso')">
                        <i class="fa fa fa-building fa-fw fa-lg pull-left" aria-hidden="true"></i>
                        Tipi uso
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------------------LIVELLO UTENTE------------------------------------------------------------>

    <div class="panel panel-custom">
        <div class="panel-heading">UTENTE</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 marginT10 marginB10">
                    <button class="btn btn-primary text-uppercase btn-block" ng-click="includePage('configurazioni','utenti')">
                        <i class="fa fa fa-key fa-fw fa-lg pull-left" aria-hidden="true"></i>
                        Modifica Password
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>