
<title>Gruppi Avviso Pagamento</title>

<div ng-controller="gruppiAvvisoPagamentoController" data-ng-init="init()">

    <div id="containerGruppiAvvisoPagamento" class="panel panel-custom border">
        <div class="panel-heading text-center panelHeaderSezioneCustom">
            <div class="row padding0">
                <span class="col-md-1 text-left">
                    <button type="button" class="btn btn-sm pointer headerPageButton" title="Gruppi Avviso Pagamento"
                            ng-click="indietro('configurazioni')">
                        <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                    </button>
                </span>
                <span class="col-md-10 titoloSezione">GRUPPI AVVISO PAGAMENTO</span>
                <span class="col-md-1 text-right">
                    <button type="button" class="btn btn-sm pointer headerPageButton" title="Aggiorna pagina"
                            ng-show="showRefresh" ng-click="aggiornaPagina()">
                        <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="text-center" ng-class="{'backgroundLoaderPart' : visible, 'backgroundLoaderFull' : !visible}"
             ng-show="!caricamentoCompletato">
            <div class="containerLoader">
                <div class="loader"></div>
            </div>
        </div>

        <div id="panelGruppiAvvisoPagamento" class="panel" ng-show="caricamentoCompletato">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th class="col-xs-3">Gestore</th>
                    <th class="col-xs-3">Sigla</th>
                    <!--<th class="col-xs-1">Anno</th>-->
                    <th class="col-xs-1">Fattura</th>
                    <th class="col-xs-1">No Num.</th>
                    <th class="col-xs-2">Num</th>
                    <th class="col-xs-2 text-center">OPZIONI</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>
                        <div class="col-md-12"
                             ng-dropdown-multiselect="" options="elencoAnagrafichePiva"
                             events="elencoAnagrafichePivaEvents" selected-model="elencoAnagrafichePivaModel"
                             extra-settings="elencoAnagrafichePivaSettings" translation-texts="customTextMultiselectPIva">
                        </div>
                    </td>
                    <td>
                        <input type="text" class="col-md-12 form-control input-sm" placeholder="Sigla"
                               ng-change="" ng-model="nuovoGruppoAvvisoPagamento.sigla">
                    </td>
                    <td>
                        <input type="checkbox" class="col-md-6 text-center" placeholder="Fattura"
                               ng-model="nuovoGruppoAvvisoPagamento.flag_fattura" ng-true-value="1" ng-false-value="0">
                    </td>
                    <td>
                        <input type="checkbox" class="col-md-6 text-center" placeholder="Fattura senza numero"
                               ng-model="nuovoGruppoAvvisoPagamento.flag_numero_zero" ng-true-value="1" ng-false-value="0">
                    </td>
                    <td>{{nuovoGruppoAvvisoPagamento.ultimo_numero}}</td>

                    <td class="text-center">
                        <button class="btn btn-sm btn-success" title="Salva"
                                ng-click="salvaDati()">
                            <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>

                <tr ng-repeat="g in elencoGruppiAvvisoPagamento track by $index">
                    <td>{{stampaNomeAnagrafica(g.id_anagrafica)}}</td>
                    <td>{{g.sigla}}</td>
                    <!--<td>{{g.anno}}</td>-->
                    <td>
                        <input type="checkbox" class="col-md-6 text-center" placeholder="Fattura"
                               ng-change="modificaGruppo(g.id,g.flag_fattura)"
                               ng-model="g.flag_fattura" ng-true-value="1" ng-false-value="0">
                    </td>
                    <td>
                        <input type="checkbox" class="col-md-6 text-center" placeholder="Fattura senza numero"
                               ng-change="modificaNumerazioneZero(g.id,g.flag_numero_zero)"
                               ng-model="g.flag_numero_zero" ng-true-value="1" ng-false-value="0">
                    </td>
                    <td>{{g.ultimo_numero}}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-danger" title="Cancella" ng-click="eliminaGruppo(g.id)"
                                ng-disabled="g.numeroContratti>0">
                            <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>