<title>Opzioni</title>

<div ng-controller="opzioniController" data-ng-init="init()">

    <div id="containerTipiSoggetto" class="panel panel-custom border">
        <div class="panel-heading text-center panelHeaderSezioneCustom">
            <div class="row padding0">
                <span class="col-md-1 text-left">
                    <button type="button" class="btn btn-sm pointer headerPageButton" title="Configurazioni"
                            ng-click="indietro('configurazioni')">
                        <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                    </button>
                </span>
                <span class="col-md-10 titoloSezione">OPZIONI</span>
                <span class="col-md-1 text-right">
                    <button type="button" class="btn btn-sm pointer headerPageButton" title="Aggiorna pagina"
                            ng-show="showRefresh" ng-click="aggiornaPagina()">
                        <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="text-center" ng-class="{'backgroundLoaderPart' : visible, 'backgroundLoaderFull' : !visible}"
             ng-show="!caricamentoCompletato">
            <div class="containerLoader">
                <div class="loader"></div>
            </div>
        </div>

        <div id="panelTipiSoggetto" class="panel"
             ng-show="caricamentoCompletato">
            <table class="table table-condensed table-hover margin0">
                <thead>
                <tr>
                    <th class="col-xs-1">CODICE</th>
                    <th class="col-xs-7">DESCRIZIONE</th>
                    <th class="col-xs-4">VALORE</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="o in elencoOpzioni track by $index">
                    <td>
                        {{o.id}}
                    </td>
                    <td>
                        <input type="text" class="col-md-12 form-control input-sm"
                               ng-change="controllaCampiTipoSoggetto(t)" ng-model="o.descrizione" disabled>
                    </td>
                    <td>
                        <button class="btn btn-block btn-success margin0" ng-click="salvaDati(o.id,0);o.valore=0" ng-show="o.valore==1">
                            Opzione Attiva
                        </button>
                        <button class="btn btn-block btn-danger margin0" ng-click="salvaDati(o.id,1);o.valore=1" ng-show="o.valore==0">
                            Opzione non attiva
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>