<title>Testi Lettere</title>

<div ng-controller="testiLettereController" data-ng-init="init()">

    <div id="containerTipiCauzioni" class="panel panel-custom border">
        <div class="panel-heading text-center panelHeaderSezioneCustom">
            <div class="row padding0">
                <span class="col-md-1 text-left">
                    <button type="button" class="btn btn-sm pointer headerPageButton" title="Configurazioni"
                            ng-click="indietro('configurazioni')">
                        <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                    </button>
                </span>
                <span class="col-md-10 titoloSezione">TESTI LETTERE</span>
                <span class="col-md-1 text-right">
                    <button type="button" class="btn btn-sm pointer headerPageButton" title="Aggiorna pagina"
                            ng-show="showRefresh" ng-click="aggiornaPagina()">
                        <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="text-center" ng-class="{'backgroundLoaderPart' : visible, 'backgroundLoaderFull' : !visible}"
             ng-show="!caricamentoCompletato">
            <div class="containerLoader">
                <div class="loader"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 text-right marginT10">
                <label>Categoria</label>
            </div>
            <div class="col-md-8 text-left marginT10">
                <select class="form-control input-sm"
                        ng-model="tipiTestiLettere"
                        ng-options="tl.key as tl.val for tl in elencoTipiTestiLettere"
                >
                </select>
            </div>
        </div>

        <div id="panelTestiLettere" class="panel panel-info margin10" ng-repeat="x in elencoTestiLettere"
             ng-show="caricamentoCompletato && (x.categoria==tipiTestiLettere || tipiTestiLettere==0)">
            <div class="panel-heading text-center">
                {{x.sottocategoria | uppercase}}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>OGGETTO</label>
                    </div>
                    <div class="col-md-8">
                        <label>TESTO</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" ng-model="x.oggetto" class="col-md-12" maxlength="100">
                    </div>
                    <div class="col-md-7">
                        <textarea rows="4" cols="99" class="col-md-12" ng-model="x.testo"></textarea>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-sm pointer btn-success" title="Salva"
                                ng-click="salvaDati(x.id,x.oggetto,x.testo)">
                            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>