
<title>Tipi rappresentante</title>

<div ng-controller="tipiRappresentanteController" data-ng-init="init()">

    <div id="containerTipiRappresentante" class="panel panel-custom border">
        <div class="panel-heading text-center panelHeaderSezioneCustom">
            <div class="row padding0">
                <span class="col-md-1 text-left">
                    <button type="button" class="btn btn-sm pointer headerPageButton" title="Configurazioni"
                            ng-click="indietro('configurazioni')">
                        <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                    </button>
                    <!--
                    <button class="btn btn-sm" ng-show="showIndietro" ng-click="indietro()">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </button>
                    -->
                </span>
                <span class="col-md-10 titoloSezione">TIPI RAPPRESENTANTE</span>
                <span class="col-md-1 text-right">
                    <button type="button" class="btn btn-sm pointer headerPageButton" title="Aggiorna pagina"
                            ng-show="showRefresh" ng-click="aggiornaPagina()">
                        <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
                    </button>
                </span>
                <!--

                    <button class="btn btn-sm" ng-show="showRefresh" ng-click="aggiornaPagina()">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                </span>
                -->
            </div>
        </div>
        <div class="text-center" ng-class="{'backgroundLoaderPart' : visible, 'backgroundLoaderFull' : !visible}"
             ng-show="!caricamentoCompletato">
            <div class="containerLoader">
                <div class="loader"></div>
            </div>
        </div>

        <div id="panelTipiCauzioni" class="panel"
             ng-show="caricamentoCompletato">
            <table class="table table-condensed table-hover margin0">
                <thead>
                <tr>
                    <th class="col-xs-1">CODICE</th>
                    <th class="col-xs-9">DESCRIZIONE</th>
                    <th class="col-xs-2 text-center">OPZIONI</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="t in elencoTipiRappresentante track by $index">
                    <td>{{t.id}}</td>
                    <td>
                        <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-exclamation-triangle red" aria-hidden="true"
                                           ng-show="t.descrizione.length > 45"></i>
                                    </span>
                            <input type="text" class="col-md-12" placeholder="Nuovo tipo rappresentante"
                                   ng-model="t.descrizione" ng-change="controllaCampiTipoRappresentante(t)">
                        </div>
                        <small ng-show="t.descrizione.length > 45">
                            Lunghezza massima 45 caratteri
                        </small>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm" ng-click="salvaDati(t,false)"
                                ng-show="controllaCampiTipoRappresentante(t)">
                            <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-sm" ng-click="eliminaDati(t.id)">
                            <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <div class="input-group">
                            <input type="text" class="col-md-12" placeholder="Nuovo tipo rappresentante"
                                   ng-model="newTipoRappresentante.descrizione"
                                   ng-change="controllaCampiTipoRappresentante(newTipoRappresentante)">
                            <span class="input-group-addon">
                                    <i class="fa fa-exclamation-triangle red" aria-hidden="true"
                                       ng-show="newTipoRappresentante.descrizione.length > 45"></i>
                                </span>
                        </div>
                        <small ng-show="newTipoRappresentante.descrizione.length > 45">
                            Lunghezza massima 45 caratteri
                        </small>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm"
                                ng-show="controllaCampiTipoRappresentante(newTipoRappresentante)"
                                ng-click="salvaDati(newTipoRappresentante,true)">
                            <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>